.carousel-container{
  overflow: hidden;
  height: 440px;
}

.slide-wrap{
  padding: 0 50px;
}

.slide-wrap > h2 {
  margin-bottom: 0;
}

.p-1{
  padding: 0.25rem;
}

@media screen and (max-width : 48rem) {
  .slide-wrap > h2{
    text-align: center;
  }

  .slide-wrap {
    padding: 0
  }
}