.movie-page {
  display: flex;
  justify-content: space-around;
}

.movie-card-area{
  display: flex;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.no-results{
  width: 100%;
  display: flex;
  justify-content: center;
}
.no-results > h1{
  border: 1px solid red;
  color: red;
  padding: 5px;
  width: 80%;
  text-align: center;

}

.custom-select {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
  width: 200px;
}


.custom-select select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid red;
  color: white;
  background-color: black;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}



.custom-select select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-select select option {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-select select option:checked {
  background-color: #007bff;
  color: white;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}

.custom-page-item {
  margin: 0 8px;
  transition: transform 0.2s;
}

.custom-page-link {
  padding: 10px 15px;
  color:  white;
  background-color: black;
  border: 1px solid red;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.custom-page-link:hover {
  background-color: red;
}

.custom-prev-link,
.custom-next-link {
  padding: 15px;
  color: white;
  background-color: black;
  border: 1px solid red;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.custom-prev-link:hover,
.custom-next-link:hover {
  background-color: red;
  color: white;
}

.custom-active .custom-page-link {
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.custom-break-item {
  margin: 0 8px;
}

.custom-break-link {
  color: #6c757d;
  font-size: 18px;
}

.custom-page-item:hover {
  transform: translateY(-3px);
}


@media screen and (max-width: 48rem) {
  .movie-page {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  
  .row {
    grid-template-columns: 1fr;
  }
  
  .custom-pagination {
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .custom-page-link, .custom-prev-link, .custom-next-link {
    padding: 8px 12px;
    font-size: 14px;
  }
  
  .custom-page-item {
    margin: 4px 4px;
  }
}
